# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
* Introduction to Data Science Tools
* Introduction to Packages and APIs
* How to Use Jupyter Notebook
* How to use GitHub 
* Introduction to RStudio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. Julia

In [7]:
## Author
 Utpal Utkarsh

SyntaxError: invalid syntax (2376851471.py, line 2)

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. scikit-learn
5. Seaborn
6. TenserFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   | 
| Tableau            | 
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers
test = (3*4)+5
print(test)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335